#main-page {
  width: 80%;
  height: 40%;
  display: grid;
  margin-bottom: 5rem;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  grid-template-areas:
    "header header header"
    "search search search"
    "events events events"
    "footer footer footer";

  .title {
    grid-area: header;
    padding: 4rem;
    color: #af42b9;
  }
  .search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: search;
    padding-bottom: 3rem;

    .css-input {
      padding: 5px;
      font-size: 34px;
      border-width: 1px;
      border-color: #cccccc;
      background-color: #ffffff;
      color: #000000;
      border-style: solid;
      border-radius: 7px;
      box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
      text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    }
    .css-input:focus {
      outline: none;
    }
  }

  #card {
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    width: 250px;
    height: auto;
    border: solid 1px #d517db;
    color: #000000;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      0px 0px 12px 9px rgba(58, 58, 58, 0.21);
    // background-image: url('../src/assets/Ethics.webp');
    .img-event {
      width: 250px;
      height: 200px;
    }
  }
}

#foot {
  height: 200px;
  width: 100%;
  background-color: #4e5d6d;
  display: flex;
  justify-content: center;
  align-items: center;
}
#new-event {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    background-color: #ffffff;
      
      
      margin: 7em auto;
      border-radius: 1.5em;
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    .form1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .name,
      .data,
      .time,
      .description {
        margin: 2rem;
        width: 76%;
          color: rgb(38, 50, 56);
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 1px;
          background: rgba(136, 126, 126, 0.04);
          padding: 10px 20px;
          border: none;
          border-radius: 20px;
          outline: none;
          box-sizing: border-box;
          border: 2px solid rgba(0, 0, 0, 0.02);
          margin-bottom: 50px;
          text-align: center;
          margin-bottom: 27px;
          font-family: "Ubuntu", sans-serif;
      }
      .name:focus,
      .data:focus,
      .time:focus,
      .description:focus{
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
      }
      .fail-input{
        border: 2px solid red;
      }

      
      .submit{
          margin-bottom: 2rem;        
          cursor: pointer;
          border-radius: 5em;
          color: #fff;
          background: linear-gradient(to right, #9c27b0, #e040fb);
          border: 0;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: "Ubuntu", sans-serif;
          font-size: 20px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      }
    }
  }
}

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .btn-logout {
    position: absolute;
    top: 50%;
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9c27b0, #e040fb);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
  .login {
    .main {
      background-color: #ffffff;
      width: 400px;
      height: 400px;
      margin: 7em auto;
      border-radius: 1.5em;
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
      .sign {
        padding-top: 40px;
        color: #8c55aa;
        font-family: "Ubuntu", sans-serif;
        font-weight: bold;
        font-size: 23px;
      }
      form.form1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 40px;

        .username {
          width: 76%;
          color: rgb(38, 50, 56);
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 1px;
          background: rgba(136, 126, 126, 0.04);
          padding: 10px 20px;
          border: none;
          border-radius: 20px;
          outline: none;
          box-sizing: border-box;
          border: 2px solid rgba(0, 0, 0, 0.02);
          margin-bottom: 50px;
          text-align: center;
          margin-bottom: 27px;
          font-family: "Ubuntu", sans-serif;
        }
        .fail-username {
          border-color: red;
        }

        .pass {
          width: 76%;
          color: rgb(38, 50, 56);
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 1px;
          background: rgba(136, 126, 126, 0.04);
          padding: 10px 20px;
          border: none;
          border-radius: 20px;
          outline: none;
          box-sizing: border-box;
          border: 2px solid rgba(0, 0, 0, 0.02);
          text-align: center;
          font-family: "Ubuntu", sans-serif;
        }
        .fail-password {
          border-color: red;
        }

        .username:focus,
        .pass:focus {
          border: 2px solid rgba(0, 0, 0, 0.18) !important;
        }

        .submit {
          cursor: pointer;
          border-radius: 5em;
          color: #fff;
          background: linear-gradient(to right, #9c27b0, #e040fb);
          border: 0;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: "Ubuntu", sans-serif;

          font-size: 13px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        }

        .forgot {
          text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
          color: #e1bee7;
          padding-top: 15px;
        }

        button {
          margin-top: 2rem;
          text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
          color: #e1bee7;
          text-decoration: none;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .main {
      border-radius: 0px;
    }
  }
}
